/* ============
 * Main Stylesheet
 * ============
 *
 * Used for the global application styling.
 *
 * The stylus CSS-preprocessor is used for this boilerplate.
 * If you don't want to use Stylus, that's fine!
 * Replace the stylus directory with the CSS preprocessor you want.
 * Require the stylesheet in the bootstrap.js file & install the webpack loader.
 *
 * It's that easy...
 *
 * http://stylus-lang.com/
 */
.padding-left
  padding-left: 8px

.glyphicon-refresh-animate
  animation: spin 1s infinite linear;

.color-haze
  background-color: #9E9D24;

.color-partly-cloudy
  background-color: #03A9F4;

.color-cloudy
  background-color: #039BE5;

.color-sunny
  background-color: #4CAF50;

.color-rainy
  background-color: #1E88E5;
  color: rgba(255, 255, 255, 0.87);

.color-snowy
  background-color: #673AB7;
  color: rgba(255, 255, 255, 0.87);;

.color-windy
  background-color: #009688;

.color-unknown
  background-color: #757575;

.color-night
  background-color: #263238;
  color: rgba(255, 255, 255, 0.87); 

.color-foggy
  background-color: #546E7A;
  color: rgba(255, 255, 255, 0.87); 


@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
