<v-layout>
  <box contextual-style="primary" title="获取位置" collapsable="true" v-if="loading">
    <div slot="body">
      <span>
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{ loadStatus }}
      </span>
    </div>
  </box>
  <span v-if="!loading">
    <div class="small-box bg-purple">
      <div class="inner">
        <h3>{{ weatherDescription }}</h3>
        <p>{{ precipitationStatus }}</p>
      </div>
    </div>
    <div class="row">
      <info-box title="温度" :description="temperature" icon="fa-thermometer-three-quarters" bgcolor="bg-red"></info-box>
      <info-box title="湿度" :description="humidity" icon="fa-asterisk" bgcolor="bg-aqua"></info-box>
      <info-box title="云率" :description="cloudRate" icon="fa-cloud" bgcolor="bg-green"></info-box>
      <info-box title="AQI" :description="AQI" icon="fa-adjust" bgcolor="bg-yellow"></info-box>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <box contextual-style="info" title="预报" collapsable="true">
          <div slot="body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>日期</th>
                    <th>天气</th>
                    <th>温度</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="cdata in forecastData">
                    <td>
                      {{ cdata.date }}
                    </td>
                    <td>
                      <span class="label" v-bind:class="cdata.weather.color">{{ cdata.weather.name }}</span>
                    </td>
                    <td>
                      {{ cdata.temperature }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </box>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <box contextual-style="success" title="气温" collapsable="true">
          <div slot="body">
            <temperature-chart :datasets="temperatureData.datasets" :labels="temperatureData.labels" :width=400 :height="graphHeight"></temperature-chart>
          </div>
        </box>
      </div>
    </div>
  </span>
</v-layout>